.short-url-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #AFD8F2;
    padding: 20px 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .short-url-container p {
    margin: 10px;
    padding: 20px;
    background-color: #f5f9fb;
  }
  
  .short-url-container .btn {
    margin-left: 10px;
  }
  